#specific file
file03ignore.txt
#same
file03 ignore.txt
#wildcard
#ignore*.txt
#all that starts with 'ignore'
#ignore*


#entire fodler
fullignore/*
partial ignore/file03 ignore.txt
partial ignore/ignore file04.txt
ignore1.txt